@font-face {
  font-family: "nijikon";
  src:
    url("fonts/nijikon_japan-webfont.woff2") format("woff2"),
    url("fonts/nijikon_japan-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  font-size: 62.5%;
}

body {
  background-color: rgb(249, 250, 251);
  font-family: "Arial", "Helvetica", sans-serif;
  font-size: 1.6rem;
  line-height: 1.3;
  display: flex;
  flex-direction: row;
}

aside {
  background-image: url("images/bg-image.jpg");
  background-repeat: no-repeat, repeat;
  height: 100vh;
  width: 37vw;
  background-size: cover;

  display: flex;
  flex-direction: column;
  align-items: center;
}

#banner {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;
  padding: 10px 0;
  margin-top: calc(100vh / 5);
  gap: 0.4rem;

  background-color: rgba(0, 0, 0, 40%);
}

.logo-header {
  color: white;
  font:
    5rem "nijikon",
    sans-serif;
}

.photo-creds {
  font:
    1.2rem "Arial Narrow",
    "Arial",
    sans-serif;
  position: absolute;
  bottom: 0;
  text-align: left;
  color: white;
  font-size: 1.2rem;
  margin: 10px 0;
}

.photo-creds a {
  color: white;
}

main {
  display: flex;
  flex-direction: column;
  flex: 1;
}

form,
button,
.account-holder-login,
#call-to-action,
#form-header {
  margin: 0 2.6rem;
}

#call-to-action {
  font-size: 1.6rem;
  margin-top: calc(100vh / 7);
  margin-bottom: 2.6rem;
}

#form-container {
  background-color: rgb(255, 255, 255);
  padding: 25px 0;
  box-shadow: 1px 3px 2px 1px rgba(0, 0, 0, 0.148);
}

#form-header {
  font-size: 1.8rem;
  margin-bottom: 2rem;
}

form {
  display: grid;
  gap: 1.4rem;
  grid-template-columns: 1fr 1fr;
}

.form-group {
  display: grid;
}

label {
  font-size: 1.2rem;
  font-weight: bold;
}

input {
  all: unset;
}

input[type="text"],
input[type="tel"],
input[type="email"],
input[type="password"] {
  padding: 0.6rem;
  width: 80%;
  font-size: 1.4rem;
  background-color: rgb(249, 250, 251);
  border: 1px solid rgba(0, 0, 0, 0.063);
  border-radius: 5px;
}

input:user-invalid {
  border: 1px solid red;
}

input:focus {
  border: 1px solid rgb(85, 109, 203);
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.148);
}

button {
  width: 180px;
  height: 40px;
  font-weight: bold;
  color: white;
  background-color: rgb(143, 16, 5);
  border: none;
  border-radius: 5px;
  margin: 3rem;
  box-shadow: 1px 2px 3px 1px rgba(0, 0, 0, 0.148);
  cursor: pointer;
  transition: transform 0.4s ease-out;
}

button:hover {
  background-color: rgb(127, 15, 4);
  transition: transform 0.4s ease-out;
  transform: scale(1.05, 1.05);
}

.account-holder-login a {
  color: rgb(143, 16, 5);
  font-weight: bold;
}
